table {
  width: 100%;
}

table, th, td {
  padding: 0.8rem;
  border: 1px solid black;
  border-collapse: collapse;
}

tr.data-row:hover {
  background: lightgrey;
}

.table-footer {
  padding: 0.8rem;
  text-align: right;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  i {
    font-size: 16px;
    color: midnightblue;
  }
  i:hover {
    color: blue;
  }
}

.round-button {
  width: 30px;
  border-radius: 15px;
  padding: 2px;
  margin-right: 3px;
  transition: all 300ms ease-in-out;
  i {
    font-size: 20px;
  }
}

.round-button:hover {
  color: white;
  background-color: black;
}

.image-wrapper {
  width: 64px;
  height: 64px;
}
