<table>
  <tr>
    <th *ngFor="let col of columns">
      {{col.name}}
    </th>
    <th *ngIf="actions.length > 0">
      Actions
    </th>
  </tr>
  <tr class="data-row" *ngFor="let row of data">
    <td *ngFor="let col of columns">
      <span *ngIf="col.type === 'STRING'">
        {{row[col.property]}}
      </span>
      <span *ngIf="col.type === 'INTEGER'">
        {{row[col.property].toFixed(0)}}
      </span>
      <span *ngIf="col.type === 'IMAGE'">
        <div class="image-wrapper">
          <img [src]="imageHelper(row[col.property])" alt="Image preview" height="64" width="64">
        </div>
      </span>
    </td>
    <td *ngIf="actions.length > 0">
      <button *ngFor="let action of actions" class="round-button" (click)="fireAction(action.name, row)">
        <i class="material-icons">{{action.icon}}</i>
      </button>
    </td>
  </tr>
</table>
