/* You can add global styles to this file, and also import other style files */

html, body, button, input {
  font-family: FreeSans, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

input {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  transition: box-shadow 300ms ease-in-out;
  width: 250px;
}

input:focus {
  box-shadow: black 0 0 3px;
}

button {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  transition: box-shadow 300ms ease-in-out, background-color 300ms ease-in-out;
}

button:focus {
  box-shadow: black 0 0 3px;
}

button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.card {
  padding: 25px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: black 0 1px 3px;
  transition: box-shadow 300ms ease-in-out;
  .card-title {
    margin-top: 0;
    text-align: center;
    width: 100%;
  }
}

.card:hover {
  box-shadow: black 0 1px 8px;
}
