.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  background-color: black;
  color: white;
}

.header-padding {
  height: 70px;
}

.logo {
  display: block;
  height: 65px;
  img {
    height: inherit;
  }
}
