:host {
  position: absolute;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.wrapper {
  border-left: 1px solid black;
  border-right: 1px solid black;
  max-width: 1170px;
  flex: 1;
  min-height: calc(100vh - 70px);
}

.card {
  margin: 20px;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
}

table, th, td {
  padding: 0.8rem;
  border: 1px solid black;
  border-collapse: collapse;
}

tr.data-row:hover {
  background: lightgrey;
}

.table-footer {
  padding: 0.8rem;
  text-align: right;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  i {
    font-size: 16px;
    color: midnightblue;
  }
  i:hover {
    color: blue;
  }
}

.card-controls {
  margin: 10px 0 0;
  button {
    margin-right: 10px;
  }
}

.add-button {
  font-size: 16px;
  width: auto;
  i {
    font-size: 16px;
  }
}

.round-button {
  width: 30px;
  border-radius: 15px;
  padding: 2px;
  margin-right: 3px;
  transition: all 300ms ease-in-out;
  i {
    font-size: 20px;
  }
}

.round-button:hover {
  color: white;
  background-color: black;
}

.labeled-input {
  margin-bottom: 10px;
  label {
    display: inline-block;
    min-width: 150px;
  }
}

.confirm-button {
  font-size: 16px;
  width: auto;
  i {
    font-size: 16px;
  }
}

.cancel-button {
  font-size: 16px;
  width: auto;
  i {
    font-size: 16px;
  }
}
