<div class="wrapper">
  <div class="card">
    <h2>
      Table of canteens
    </h2>
    <app-table
      [columns]="columns"
      [data]="data"
      [actions]="actions"
      (buttonClick)="handleAction($event)">
    </app-table>
    <div class="card-controls">
      <button class="add-button" (click)="addCanteen()">
        <i class="material-icons">add</i>New
      </button>
    </div>
  </div>
  <div class="card" *ngIf="showEditCard">
    <h3>
      {{editMode ? 'Edit canteen' : 'Add new canteen'}}
    </h3>
    <form [formGroup]="form">
      <div class="labeled-input">
        <label for="name_input">
          Name:
        </label>
        <input id="name_input" formControlName="name">
      </div>
      <div class="labeled-input">
        <label for="address_input">
          Address:
        </label>
        <input id="address_input" formControlName="address">
      </div>
      <div class="labeled-input">
        <label for="hours_input">
          Opening hours:
        </label>
        <input id="hours_input" formControlName="openingHours">
      </div>
      <div class="card-controls">
        <button class="confirm-button" (click)="confirm()">
          <i class="material-icons">done</i>Confirm
        </button>
        <button class="cancel-button" (click)="cancel()">
          <i class="material-icons">clear</i>Cancel
        </button>
      </div>
    </form>
  </div>
  <div class="card" *ngIf="selectedCanteen">
    <h2>
      Table of meals for the {{selectedCanteen.name}}
    </h2>
    <app-table
      [columns]="mealColumns"
      [data]="mealData"
      [actions]="mealActions"
      (buttonClick)="handleMealAction($event)">
    </app-table>
    <div class="card-controls">
      <button class="add-button" (click)="addMeal()">
        <i class="material-icons">add</i>New
      </button>
    </div>
  </div>
  <div class="card" *ngIf="showMealEditCard" #mealEditRef>
    <h3>
      {{editMealMode ? 'Edit meal' : 'Add new meal'}}
    </h3>
    <form [formGroup]="mealForm">
      <div class="labeled-input">
        <label for="meal_name_input">
          Name:
        </label>
        <input id="meal_name_input" formControlName="name">
      </div>
      <div class="labeled-input">
        <label for="meal_english_name_input">
          English name:
        </label>
        <input id="meal_english_name_input" formControlName="englishName">
      </div>
      <div class="labeled-input">
        <label for="meal_calories_input">
          Calories:
        </label>
        <input type="number" id="meal_calories_input" formControlName="energy">
      </div>
      <div class="labeled-input">
        <label for="meal_protein_input">
          Protein:
        </label>
        <input type="number" id="meal_protein_input" formControlName="protein">
      </div>
      <div class="labeled-input">
        <label for="meal_sacharids_input">
          Carbs:
        </label>
        <input type="number" id="meal_sacharids_input" formControlName="sacharids">
      </div>
      <div class="labeled-input">
        <label for="meal_fats_input">
          Fats:
        </label>
        <input type="number" id="meal_fats_input" formControlName="fats">
      </div>
      <div class="labeled-input">
        <label for="meal_fiber_input">
          Fiber:
        </label>
        <input type="number" id="meal_fiber_input" formControlName="fiber">
      </div>
      <div class="labeled-input">
        <label for="meal_alergens_input">
          Alergens:
        </label>
        <input id="meal_alergens_input" formControlName="alergens">
      </div>
      <div class="labeled-input">
        <label for="meal_image_input">
          Image:
        </label>
        <input type="file" id="meal_image_input" (change)="handleFileInput($event)" accept="image/jpeg">
      </div>
      <div class="card-controls">
        <button class="confirm-button" (click)="confirmMeal()">
          <i class="material-icons">done</i>Confirm
        </button>
        <button class="cancel-button" (click)="cancelMeal()">
          <i class="material-icons">clear</i>Cancel
        </button>
      </div>
    </form>
  </div>
</div>
