:host {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 30px;
  width: 100%;
  height: 100%;
}

.card {
  input {
    margin: 15px 0;
  }
  button {
    margin: 15px 0 0;
  }
}
