<div class="wrapper">
  <div class="card">
    <h3 class="card-title">Log in</h3>
    <form [formGroup]="form">
      <label>
        Username:<br>
        <input formControlName="username">
      </label>
      <br>
      <label>
        Password:<br>
        <input type="password" formControlName="password">
      </label>
      <br>
      <button type="submit" (click)="login()">
          Submit
      </button>
    </form>
  </div>
</div>
